html {
  background:black;
  color:white;
  text-align: center;
}

div{                    /*horizontally center a div by giving it a width of 75% and a margin-left of 12.5%.*/
  width:75%;
  margin: 5% 12.5%;
}

img {
  border:5px solid white;
  align-items: center;
  width: 100%;          /*the image width becomes equal to width of its parent i.e. <div>*/
}
